<header class="p-3 w-full fixed top-0 z-50 bg-linear-to-r from-primary to-black">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <a class="mx-h-16 text-white border-r-white border-r-2 pr-6"> Nordic Cooling Solutions AB </a>
    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      <a>Hem</a>
      <a routerLink="/spareparts-list">Reservdelar</a>
      <a>Order</a>
      <a>Användare</a>
      <a routerLink="/customers">Kunder</a>
    </nav>
    <div class="flex align-middle ml-auto gap-3">
      <div class="dropdown mr-5 dropdown-end">
        <button
          tabindex="1"
          class="flex flex-col justify-center align-middle text-white cursor-pointer uppercase text-xs"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 flex self-center"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42"
            />
          </svg>
          <span>{{ selectedTheme() }}</span>
        </button>
        <ul
          tabindex="1"
          class="dropdown-content z-50 menu bg-base-100 rounded-box w-52 p-2 shadow-sm"
        >
          @for (theme of themes; track $index) {
            <li (click)="handeleSelectTheme(theme)">
              <a>{{ theme }}</a>
            </li>
          }
        </ul>
      </div>
      @if (accountService.currentUser(); as user) {
        <div class="dropdown dropdown-end">
          <button tabindex="0" class="btn btn-ghost text-white">
            {{ user.firstName }} {{ user.lastName }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </button>
          <ul
            tabindex="0"
            class="dropdown-content z-50 menu bg-base-100 rounded-box w-52 p-2 shadow mt-1"
          >
            <li><a routerLink="/profile">Min profil</a></li>
            <li><a (click)="logout()">Logga ut</a></li>
          </ul>
        </div>
      }
    </div>
  </div>
</header>
