<div class="flex items-center justify-center min-h-screen w-full py-20">
  <div class="w-2/3 z-40 px-3 py-1">

    <div class="flex justify-end mb-3">
      <button class="btn btn-primary" (click)="createComp.openModal()">Skapa produkt</button>
    </div>

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
      <table class="table">
        <thead>
          <tr>
            <th>Namn</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @if (products.length === 0) {
            <tr>
              <td colspan="2" class="text-center">Inga produkter hittades</td>
            </tr>
          } @else {
            @for (product of products; track product.id) {
              <tr>
                <td>{{ product.name }}</td>
                <td>
                  <button class="btn btn-outline btn-secondary" (click)="editComp.openModal(product)">Redigera</button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>

  </div>
</div>

<app-product-create #createComp (productCreated)="onProductCreated($event)" />
<app-product-edit #editComp (productUpdated)="onProductUpdated($event)" />