<div class="flex items-center justify-center min-h-screen w-full py-20">
  <div class="w-full px-6">
    <div class="flex justify-between mb-3">
      <div class="flex gap-2">
        @if (accountService.isAdmin()) {
          <button class="btn btn-primary" (click)="createComp.openModal()">Skapa produkt</button>
        }
      </div>
    </div>

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Namn</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @if (products.length === 0) {
            <tr>
              <td colspan="2" class="text-center">Inga produkter hittades</td>
            </tr>
          } @else {
            @for (product of products; track product.id) {
              <tr class="hover:bg-primary/10 transition-colors duration-150">
                <td>{{ product.name }}</td>
                <td>
                  @if (accountService.isAdmin()) {
                    <button
                      class="btn btn-outline btn-secondary btn-sm"
                      (click)="editComp.openModal(product)"
                    >
                      Redigera
                    </button>
                  }
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
      <app-paginator
        [totalCount]="totalCount"
        [totalPages]="totalPages"
        [(pageNumber)]="pageNumber"
        [(pageSize)]="pageSize"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</div>

<app-product-create #createComp (productCreated)="onProductCreated($event)" />
<app-product-edit #editComp (productUpdated)="onProductUpdated($event)" />
